@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
body {
  background: rgba(119,161,211,1);
  /*fallback for old browsers*/
  background: -webkit-linear-gradient( 109.6deg,  rgba(121,203,202,1) 11.2%, rgba(119,161,211,1) 91.1% );
  /* Chrome 10-25, Safari 5.1-6*/
  background: linear-gradient( 109.6deg,  rgba(121,203,202,1) 11.2%, rgba(119,161,211,1) 91.1% );
  /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  text-align: center;
  font-family: "Acme", sans-serif;
  font-size: 16px;
  margin-top: 10vh;
  margin-bottom: 10vh;
  height: 100%;
  background-attachment: fixed;
  overflow-x: hidden;
}

.dark {
  /* background: #5b6467; */
  /*fallback for old browsers*/
  background-image: -webkit-linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
  /* Chrome 10-25, Safari 5.1-6*/
  background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
  /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

.title {
  font-family: "Lobster", cursive;
  font-size: 7vw;
  text-align: center;
}

@media (max-width: 500px) {
  .title {
    font-size: 20vw;
  }
}

.titleheader {
  margin-top: -10vh;
  padding-top: 12vh;
  background: url("https://usersthink.com/img/99-free-images-small/02-usersthink-stock-image-small.jpg");
  background-attachment: fixed;
  background-color: #5f9ea0;
  background-blend-mode: lighten;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.titleheader .image {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40vw;
  min-width: 400px;
}

.get-started {
  margin-top: 20px;  
}

.get-started h1{
  text-align: left;
  margin-left: 10px;
}