 .banner{
  margin-top: 10px;
  /* display: grid; */
  place-items: center center;
  /* font-family: 'Pappins',sans-serif; */
} 
 .cards{
  display: grid;
  /* place-items: center center; */
  grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
  padding: 20px;
  grid-gap: 40px;
  cursor: pointer;
}
.card{
  background-color: #1c1b29;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0,0,0,0.18);
}
.card:hover {
  transform: scale(1.05);
  transition: all 0.75s ease;
  box-shadow: 4px 4px 30px rgb(64, 33, 202);
}
/* .card:hover::after{
  background-color: blue;
  opacity: 1.5;
} */
/*.card:hover:before, .card:hover:after {
  transform: scale(1);
}*/
.container{
  position: relative;
  clip-path: polygon(0 0,100% 0,100% 85%,0 100%);
}
.image{
  width: 100%;
  display: block;
  border-radius: 20px 20px 0 0;
  clip-path: ploygon(0,0,100% 0,100% 85%,0 100%); 
}
.container::after{
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0 0;
  opacity: 0.4;
}
/* .card>.container::after{
  background-image: linear-gradient(135deg,#0100ec,#fb36f4);
} */
.card>.container:hover:after{ 
   background-image: linear-gradient(135deg,#e32bca,#2e568a); 
}
/* .card3>.container::after{
  background-image: linear-gradient(135deg,#ffab1d,#f8501c);
} */
.details{
  padding: 20px 10px;
}
.details>h2{
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  margin: 10px 0 15px 0;
}
.details>h2:hover{
  color: rgb(70, 115, 155);
}
.details>h3{
  color: #ffffff;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}
.details>h3:hover{
  color: rgba(230, 148, 205, 0.897);
}
  #id{
  position: relative;
  width: 50%;
  height: fit-content;
  border-radius: 0%;
  top: 150px;
} 

.card>.teacher::after{
  background-image: linear-gradient(135deg,#0100ec,#fb36f4); 
}

.card>.CR::after{
  background-image: linear-gradient(135deg,#2bdce3,#42ffdb); 
}

.card>.student::after{
  background-image: linear-gradient(135deg,#ffab1d,#f8501c); 
}